<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.api.drug.dao.DrugManagerDao">
	<!--药剂出入库 sql-->
 	<resultMap id="BaseResultMap" type="com.qh.domain.drug.DrugManager">
		<!--药剂出入库 whou_drug_manager column-->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="drug_id" jdbcType="VARCHAR" property="drugId" />
		<result column="correlation_id" jdbcType="VARCHAR" property="correlationId" />
		<result column="correlation_code" jdbcType="VARCHAR" property="correlationCode" />
		<result column="access_type" jdbcType="VARCHAR" property="accessType" />
		<result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="purpose" jdbcType="VARCHAR" property="purpose" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="produced_time" jdbcType="TIMESTAMP" property="producedTime" />
		<result column="option_time" jdbcType="TIMESTAMP" property="optionTime" />
		<result column="digest" jdbcType="VARCHAR" property="digest" />
		<result column="income" jdbcType="INTEGER" property="income" />
		<result column="expenditure" jdbcType="INTEGER" property="expenditure" />
		<result column="balance" jdbcType="INTEGER" property="balance" />
		<result column="company_id" jdbcType="VARCHAR" property="companyId" />
		<result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
		<result column="create_deptid" jdbcType="VARCHAR" property="createDeptid" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
		<result column="modify_deptid" jdbcType="VARCHAR" property="modifyDeptid" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<!--插入字段-->
	<sql id="whou_drug_manager_column_insert">
		id,
		drug_id,
		correlation_id,
		correlation_code,
		access_type,
		manufacturer,
		price,
		purpose,
		remark,
		status,
		produced_time,
		option_time,
		digest,
		income,
		expenditure,
		balance,
		company_id,
		create_userid,
		create_deptid,
		create_date,
		modify_userid,
		modify_deptid,
		modify_date
	</sql>
	<!--药剂出入库 whou_drug_manager查询字段-->
	<sql id="whou_drug_manager_column_query">
		drugManager.id,
		drugManager.drug_id,
		drugManager.correlation_id,
		drugManager.correlation_code,
		drugManager.access_type,
		drugManager.manufacturer,
		drugManager.price,
		drugManager.purpose,
		drugManager.remark,
		drugManager.status,
		drugManager.produced_time,
		drugManager.option_time,
		drugManager.digest,
		drugManager.income,
		drugManager.expenditure,
		drugManager.balance,
		drugManager.company_id,
		drugManager.create_userid,
		drugManager.create_deptid,
		drugManager.create_date,
		drugManager.modify_userid,
		drugManager.modify_deptid,
		drugManager.modify_date
	</sql>
	<!--通用查询条件-->
	<sql id="where">
		<if test="@Ognl@IsNotEmpty(id)">
			and drugManager.id = #{id,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(drugId)">
			and drugManager.drug_id = #{drugId,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(correlationId)">
			and drugManager.correlation_id = #{correlationId,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(correlationCode)">
			and drugManager.correlation_code = #{correlationCode,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(accessType)">
			and drugManager.access_type = #{accessType,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(manufacturer)">
			and drugManager.manufacturer = #{manufacturer,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(price)">
			and drugManager.price = #{price,jdbcType=DECIMAL}
		</if>
		
		<if test="@Ognl@IsNotEmpty(purpose)">
			and drugManager.purpose = #{purpose,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(remark)">
			and drugManager.remark = #{remark,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(status)">
			and drugManager.status = #{status,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(producedTime)">
			and drugManager.produced_time = #{producedTime,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(producedTimeStartDate)">
			and TO_DAYS(drugManager.produced_time)-TO_DAYS(#{producedTimeStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(producedTimeEndDate)">
			and TO_DAYS(#{producedTimeEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugManager.produced_time) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(optionTime)">
			and drugManager.option_time = #{optionTime,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(optionTimeStartDate)">
			and TO_DAYS(drugManager.option_time)-TO_DAYS(#{optionTimeStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(optionTimeEndDate)">
			and TO_DAYS(#{optionTimeEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugManager.option_time) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(digest)">
			and drugManager.digest = #{digest,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(income)">
			and drugManager.income = #{income,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(expenditure)">
			and drugManager.expenditure = #{expenditure,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(balance)">
			and drugManager.balance = #{balance,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(companyId)">
			and drugManager.company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		
		<!--部门权限-->
		<if test="@Ognl@IsNotEmpty(createUserid) and @Ognl@IsNotEmpty(createDeptid)">
			and drugManager.create_userid = #{createUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(createDeptid)">
			and <if test="@Ognl@IsNotEmpty(createUserid)">( </if>FIND_IN_SET(drugManager.create_deptid , #{createDeptid,jdbcType=VARCHAR}) <if test="@Ognl@IsNotEmpty(createUserid)">or drugManager.create_userid = #{createUserid,jdbcType=VARCHAR})</if>
		</if>
		<!--部门权限结束-->
		
		<if test="@Ognl@IsNotEmpty(createDate)">
			and drugManager.create_date = #{createDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(createDateStartDate)">
			and TO_DAYS(drugManager.create_date)-TO_DAYS(#{createDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(createDateEndDate)">
			and TO_DAYS(#{createDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugManager.create_date) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyUserid)">
			and drugManager.modify_userid = #{modifyUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDeptid)">
			and drugManager.modify_deptid = #{modifyDeptid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDate)">
			and drugManager.modify_date = #{modifyDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateStartDate)">
			and TO_DAYS(drugManager.modify_date)-TO_DAYS(#{modifyDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateEndDate)">
			and TO_DAYS(#{modifyDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugManager.modify_date) >= 0
		</if>
		
	</sql>
	<!--新增-->
	<insert id="insert" parameterType="com.qh.domain.drug.DrugManager">
		insert into whou_drug_manager (  <include refid="whou_drug_manager_column_insert" /> )
		values (
			#{id,jdbcType=VARCHAR},
			#{drugId,jdbcType=VARCHAR},
			#{correlationId,jdbcType=VARCHAR},
			#{correlationCode,jdbcType=VARCHAR},
			#{accessType,jdbcType=VARCHAR},
			#{manufacturer,jdbcType=VARCHAR},
			#{price,jdbcType=DECIMAL},
			#{purpose,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{producedTime,jdbcType=TIMESTAMP},
			#{optionTime,jdbcType=TIMESTAMP},
			#{digest,jdbcType=VARCHAR},
			#{income,jdbcType=INTEGER},
			#{expenditure,jdbcType=INTEGER},
			#{balance,jdbcType=INTEGER},
			#{companyId,jdbcType=VARCHAR},
			#{createUserid,jdbcType=VARCHAR},
			#{createDeptid,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP},
			#{modifyUserid,jdbcType=VARCHAR},
			#{modifyDeptid,jdbcType=VARCHAR},
			#{modifyDate,jdbcType=TIMESTAMP}
		)
	</insert>	
	
	<!--批量新增-->
	<insert id="insertBatch" parameterType="com.qh.domain.drug.DrugManager">
		insert into whou_drug_manager (  <include refid="whou_drug_manager_column_insert" /> )
		values
		<foreach collection="list" item="item" index="index" separator="," > 
			(
				#{item.id,jdbcType=VARCHAR},
				#{item.drugId,jdbcType=VARCHAR},
				#{item.correlationId,jdbcType=VARCHAR},
				#{item.correlationCode,jdbcType=VARCHAR},
				#{item.accessType,jdbcType=VARCHAR},
				#{item.manufacturer,jdbcType=VARCHAR},
				#{item.price,jdbcType=DECIMAL},
				#{item.purpose,jdbcType=VARCHAR},
				#{item.remark,jdbcType=VARCHAR},
				#{item.status,jdbcType=INTEGER},
				#{item.producedTime,jdbcType=TIMESTAMP},
				#{item.optionTime,jdbcType=TIMESTAMP},
				#{item.digest,jdbcType=VARCHAR},
				#{item.income,jdbcType=INTEGER},
				#{item.expenditure,jdbcType=INTEGER},
				#{item.balance,jdbcType=INTEGER},
				#{item.companyId,jdbcType=VARCHAR},
				#{item.createUserid,jdbcType=VARCHAR},
				#{item.createDeptid,jdbcType=VARCHAR},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.modifyUserid,jdbcType=VARCHAR},
				#{item.modifyDeptid,jdbcType=VARCHAR},
				#{item.modifyDate,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>	
	
	<!--修改所有-->
	<update id="update" parameterType="com.qh.domain.drug.DrugManager">
		update whou_drug_manager  set 
			drug_id=#{drugId,jdbcType=VARCHAR},
			correlation_id=#{correlationId,jdbcType=VARCHAR},
			correlation_code=#{correlationCode,jdbcType=VARCHAR},
			access_type=#{accessType,jdbcType=VARCHAR},
			manufacturer=#{manufacturer,jdbcType=VARCHAR},
			price=#{price,jdbcType=DECIMAL},
			purpose=#{purpose,jdbcType=VARCHAR},
			remark=#{remark,jdbcType=VARCHAR},
			status=#{status,jdbcType=INTEGER},
			produced_time=#{producedTime,jdbcType=TIMESTAMP},
			option_time=#{optionTime,jdbcType=TIMESTAMP},
			digest=#{digest,jdbcType=VARCHAR},
			income=#{income,jdbcType=INTEGER},
			expenditure=#{expenditure,jdbcType=INTEGER},
			balance=#{balance,jdbcType=INTEGER},
			company_id=#{companyId,jdbcType=VARCHAR},
			modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			modify_date=#{modifyDate,jdbcType=TIMESTAMP}
		where 1=1
		and id=#{id,jdbcType=VARCHAR}
    </update>
    
    <!--部分修改-->
    <update id="updateSelective" parameterType="com.qh.domain.drug.DrugManager">
		update whou_drug_manager  
		<set>
		  	<if test="@Ognl@IsNotEmpty(drugId)">
				drug_id=#{drugId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(correlationId)">
				correlation_id=#{correlationId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(correlationCode)">
				correlation_code=#{correlationCode,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(accessType)">
				access_type=#{accessType,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(manufacturer)">
				manufacturer=#{manufacturer,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(price)">
				price=#{price,jdbcType=DECIMAL},
			</if>
		  	<if test="@Ognl@IsNotEmpty(purpose)">
				purpose=#{purpose,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(remark)">
				remark=#{remark,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(status)">
				status=#{status,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(producedTime)">
				produced_time=#{producedTime,jdbcType=TIMESTAMP},
			</if>
		  	<if test="@Ognl@IsNotEmpty(optionTime)">
				option_time=#{optionTime,jdbcType=TIMESTAMP},
			</if>
		  	<if test="@Ognl@IsNotEmpty(digest)">
				digest=#{digest,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(income)">
				income=#{income,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(expenditure)">
				expenditure=#{expenditure,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(balance)">
				balance=#{balance,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(companyId)">
				company_id=#{companyId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyUserid)">
				modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDeptid)">
				modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDate)">
				modify_date=#{modifyDate,jdbcType=TIMESTAMP},
			</if>
		 </set>
		where 1=1
		and FIND_IN_SET(id,#{id,jdbcType=VARCHAR})
    </update>
    
    <!--删除-->
    <delete id="delete">
  		DELETE drugManager FROM whou_drug_manager drugManager where 1=1 
		<include refid="where" /> 
  	</delete>

  	<!--查询详情-->
	<select id="getInfo" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugManager" >
    	select 
    	<include refid="whou_drug_manager_column_query" />
    	from 
    	whou_drug_manager drugManager
		where 1=1 
		<include refid="where" /> 
  </select>
  
  <!--查询列表-->
	<select id="getAll" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugManager" >
    	select 
    	<include refid="whou_drug_manager_column_query" />
    	from 
    	whou_drug_manager drugManager
		where 1=1 
		<include refid="where" /> 
  	</select>
  	
</mapper>

