<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.api.drug.dao.DrugOrderDao">
	<!--采购订单 sql-->
 	<resultMap id="BaseResultMap" type="com.qh.domain.drug.DrugOrder">
		<!--采购订单 whou_drug_order column-->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="department" jdbcType="VARCHAR" property="department" />
		<result column="department_name" jdbcType="VARCHAR" property="departmentName" />
		<result column="applicant" jdbcType="VARCHAR" property="applicant" />
		<result column="applicant_name" jdbcType="VARCHAR" property="applicantName" />
		<result column="applicant_time" jdbcType="TIMESTAMP" property="applicantTime" />
		<result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
		<result column="inventory_status" jdbcType="INTEGER" property="inventoryStatus" />
		<result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
		<result column="company_id" jdbcType="VARCHAR" property="companyId" />
		<result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
		<result column="create_deptid" jdbcType="VARCHAR" property="createDeptid" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
		<result column="modify_deptid" jdbcType="VARCHAR" property="modifyDeptid" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<!--插入字段-->
	<sql id="whou_drug_order_column_insert">
		id,
		order_code,
		department,
		department_name,
		applicant,
		applicant_name,
		applicant_time,
		approve_status,
		inventory_status,
		delete_flag,
		company_id,
		create_userid,
		create_deptid,
		create_date,
		modify_userid,
		modify_deptid,
		modify_date
	</sql>
	<!--采购订单 whou_drug_order查询字段-->
	<sql id="whou_drug_order_column_query">
		drugOrder.id,
		drugOrder.order_code,
		drugOrder.department,
		drugOrder.department_name,
		drugOrder.applicant,
		drugOrder.applicant_name,
		drugOrder.applicant_time,
		drugOrder.approve_status,
		drugOrder.inventory_status,
		drugOrder.delete_flag,
		drugOrder.company_id,
		drugOrder.create_userid,
		drugOrder.create_deptid,
		drugOrder.create_date,
		drugOrder.modify_userid,
		drugOrder.modify_deptid,
		drugOrder.modify_date
	</sql>
	<!--通用查询条件-->
	<sql id="where">
		<if test="@Ognl@IsNotEmpty(id)">
			and drugOrder.id = #{id,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(orderCode)">
			and drugOrder.order_code = #{orderCode,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(department)">
			and drugOrder.department = #{department,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(departmentName)">
			and drugOrder.department_name = #{departmentName,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(applicant)">
			and drugOrder.applicant = #{applicant,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(applicantName)">
			and drugOrder.applicant_name = #{applicantName,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(applicantTime)">
			and drugOrder.applicant_time = #{applicantTime,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(applicantTimeStartDate)">
			and TO_DAYS(drugOrder.applicant_time)-TO_DAYS(#{applicantTimeStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(applicantTimeEndDate)">
			and TO_DAYS(#{applicantTimeEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugOrder.applicant_time) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(approveStatus)">
			and drugOrder.approve_status = #{approveStatus,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(inventoryStatus)">
			and drugOrder.inventory_status = #{inventoryStatus,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(deleteFlag)">
			and drugOrder.delete_flag = #{deleteFlag,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(companyId)">
			and drugOrder.company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		
		<!--部门权限-->
		<if test="@Ognl@IsNotEmpty(createUserid) and @Ognl@IsNotEmpty(createDeptid)">
			and drugOrder.create_userid = #{createUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(createDeptid)">
			and <if test="@Ognl@IsNotEmpty(createUserid)">( </if>FIND_IN_SET(drugOrder.create_deptid , #{createDeptid,jdbcType=VARCHAR}) <if test="@Ognl@IsNotEmpty(createUserid)">or drugOrder.create_userid = #{createUserid,jdbcType=VARCHAR})</if>
		</if>
		<!--部门权限结束-->
		
		<if test="@Ognl@IsNotEmpty(createDate)">
			and drugOrder.create_date = #{createDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(createDateStartDate)">
			and TO_DAYS(drugOrder.create_date)-TO_DAYS(#{createDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(createDateEndDate)">
			and TO_DAYS(#{createDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugOrder.create_date) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyUserid)">
			and drugOrder.modify_userid = #{modifyUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDeptid)">
			and drugOrder.modify_deptid = #{modifyDeptid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDate)">
			and drugOrder.modify_date = #{modifyDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateStartDate)">
			and TO_DAYS(drugOrder.modify_date)-TO_DAYS(#{modifyDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateEndDate)">
			and TO_DAYS(#{modifyDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugOrder.modify_date) >= 0
		</if>
		
	</sql>
	<!--新增-->
	<insert id="insert" parameterType="com.qh.domain.drug.DrugOrder">
		insert into whou_drug_order (  <include refid="whou_drug_order_column_insert" /> )
		values (
			#{id,jdbcType=VARCHAR},
			#{orderCode,jdbcType=VARCHAR},
			#{department,jdbcType=VARCHAR},
			#{departmentName,jdbcType=VARCHAR},
			#{applicant,jdbcType=VARCHAR},
			#{applicantName,jdbcType=VARCHAR},
			#{applicantTime,jdbcType=TIMESTAMP},
			#{approveStatus,jdbcType=INTEGER},
			#{inventoryStatus,jdbcType=INTEGER},
			#{deleteFlag,jdbcType=INTEGER},
			#{companyId,jdbcType=VARCHAR},
			#{createUserid,jdbcType=VARCHAR},
			#{createDeptid,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP},
			#{modifyUserid,jdbcType=VARCHAR},
			#{modifyDeptid,jdbcType=VARCHAR},
			#{modifyDate,jdbcType=TIMESTAMP}
		)
	</insert>	
	
	<!--批量新增-->
	<insert id="insertBatch" parameterType="com.qh.domain.drug.DrugOrder">
		insert into whou_drug_order (  <include refid="whou_drug_order_column_insert" /> )
		values
		<foreach collection="list" item="item" index="index" separator="," > 
			(
				#{item.id,jdbcType=VARCHAR},
				#{item.orderCode,jdbcType=VARCHAR},
				#{item.department,jdbcType=VARCHAR},
				#{item.departmentName,jdbcType=VARCHAR},
				#{item.applicant,jdbcType=VARCHAR},
				#{item.applicantName,jdbcType=VARCHAR},
				#{item.applicantTime,jdbcType=TIMESTAMP},
				#{item.approveStatus,jdbcType=INTEGER},
				#{item.inventoryStatus,jdbcType=INTEGER},
				#{item.deleteFlag,jdbcType=INTEGER},
				#{item.companyId,jdbcType=VARCHAR},
				#{item.createUserid,jdbcType=VARCHAR},
				#{item.createDeptid,jdbcType=VARCHAR},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.modifyUserid,jdbcType=VARCHAR},
				#{item.modifyDeptid,jdbcType=VARCHAR},
				#{item.modifyDate,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>	
	
	<!--修改所有-->
	<update id="update" parameterType="com.qh.domain.drug.DrugOrder">
		update whou_drug_order  set 
			order_code=#{orderCode,jdbcType=VARCHAR},
			department=#{department,jdbcType=VARCHAR},
			department_name=#{departmentName,jdbcType=VARCHAR},
			applicant=#{applicant,jdbcType=VARCHAR},
			applicant_name=#{applicantName,jdbcType=VARCHAR},
			applicant_time=#{applicantTime,jdbcType=TIMESTAMP},
			approve_status=#{approveStatus,jdbcType=INTEGER},
			inventory_status=#{inventoryStatus,jdbcType=INTEGER},
			delete_flag=#{deleteFlag,jdbcType=INTEGER},
			company_id=#{companyId,jdbcType=VARCHAR},
			modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			modify_date=#{modifyDate,jdbcType=TIMESTAMP}
		where 1=1
		and id=#{id,jdbcType=VARCHAR}
    </update>
    
    <!--部分修改-->
    <update id="updateSelective" parameterType="com.qh.domain.drug.DrugOrder">
		update whou_drug_order  
		<set>
		  	<if test="@Ognl@IsNotEmpty(orderCode)">
				order_code=#{orderCode,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(department)">
				department=#{department,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(departmentName)">
				department_name=#{departmentName,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(applicant)">
				applicant=#{applicant,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(applicantName)">
				applicant_name=#{applicantName,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(applicantTime)">
				applicant_time=#{applicantTime,jdbcType=TIMESTAMP},
			</if>
		  	<if test="@Ognl@IsNotEmpty(approveStatus)">
				approve_status=#{approveStatus,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(inventoryStatus)">
				inventory_status=#{inventoryStatus,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(deleteFlag)">
				delete_flag=#{deleteFlag,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(companyId)">
				company_id=#{companyId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyUserid)">
				modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDeptid)">
				modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDate)">
				modify_date=#{modifyDate,jdbcType=TIMESTAMP},
			</if>
		 </set>
		where 1=1
		and FIND_IN_SET(id,#{id,jdbcType=VARCHAR})
    </update>
    
    <!--删除-->
    <delete id="delete">
  		DELETE drugOrder FROM whou_drug_order drugOrder where 1=1 
		<include refid="where" /> 
  	</delete>

  	<!--查询详情-->
	<select id="getInfo" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugOrder" >
    	select 
    	<include refid="whou_drug_order_column_query" />
    	from 
    	whou_drug_order drugOrder
		where 1=1 
		<include refid="where" /> 
  </select>
  
  <!--查询列表-->
	<select id="getAll" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugOrder" >
    	select 
    	<include refid="whou_drug_order_column_query" />
    	from 
    	whou_drug_order drugOrder
		where 1=1 
		<include refid="where" /> 
  	</select>
  	
</mapper>

