<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.api.drug.dao.DrugInStorageDao">
	<!--采购入库 sql-->
 	<resultMap id="BaseResultMap" type="com.qh.domain.drug.DrugInStorage">
		<!--采购入库 whou_drug_in_storage column-->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="in_storage_code" jdbcType="VARCHAR" property="inStorageCode" />
		<result column="order_id" jdbcType="VARCHAR" property="orderId" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="registration_time" jdbcType="TIMESTAMP" property="registrationTime" />
		<result column="buyer" jdbcType="VARCHAR" property="buyer" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
		<result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
		<result column="company_id" jdbcType="VARCHAR" property="companyId" />
		<result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
		<result column="create_deptid" jdbcType="VARCHAR" property="createDeptid" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
		<result column="modify_deptid" jdbcType="VARCHAR" property="modifyDeptid" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<!--插入字段-->
	<sql id="whou_drug_in_storage_column_insert">
		id,
		in_storage_code,
		order_id,
		order_code,
		registration_time,
		buyer,
		buyer_name,
		status,
		approve_status,
		delete_flag,
		company_id,
		create_userid,
		create_deptid,
		create_date,
		modify_userid,
		modify_deptid,
		modify_date
	</sql>
	<!--采购入库 whou_drug_in_storage查询字段-->
	<sql id="whou_drug_in_storage_column_query">
		drugInStorage.id,
		drugInStorage.in_storage_code,
		drugInStorage.order_id,
		drugInStorage.order_code,
		drugInStorage.registration_time,
		drugInStorage.buyer,
		drugInStorage.buyer_name,
		drugInStorage.status,
		drugInStorage.approve_status,
		drugInStorage.delete_flag,
		drugInStorage.company_id,
		drugInStorage.create_userid,
		drugInStorage.create_deptid,
		drugInStorage.create_date,
		drugInStorage.modify_userid,
		drugInStorage.modify_deptid,
		drugInStorage.modify_date
	</sql>
	<!--通用查询条件-->
	<sql id="where">
		<if test="@Ognl@IsNotEmpty(id)">
			and drugInStorage.id = #{id,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(inStorageCode)">
			and drugInStorage.in_storage_code = #{inStorageCode,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(orderId)">
			and drugInStorage.order_id = #{orderId,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(orderCode)">
			and drugInStorage.order_code = #{orderCode,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(registrationTime)">
			and drugInStorage.registration_time = #{registrationTime,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(registrationTimeStartDate)">
			and TO_DAYS(drugInStorage.registration_time)-TO_DAYS(#{registrationTimeStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(registrationTimeEndDate)">
			and TO_DAYS(#{registrationTimeEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugInStorage.registration_time) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(buyer)">
			and drugInStorage.buyer = #{buyer,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(buyerName)">
			and drugInStorage.buyer_name = #{buyerName,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(status)">
			and drugInStorage.status = #{status,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(approveStatus)">
			and drugInStorage.approve_status = #{approveStatus,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(deleteFlag)">
			and drugInStorage.delete_flag = #{deleteFlag,jdbcType=INTEGER}
		</if>
		
		<if test="@Ognl@IsNotEmpty(companyId)">
			and drugInStorage.company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		
		<!--部门权限-->
		<if test="@Ognl@IsNotEmpty(createUserid) and @Ognl@IsNotEmpty(createDeptid)">
			and drugInStorage.create_userid = #{createUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(createDeptid)">
			and <if test="@Ognl@IsNotEmpty(createUserid)">( </if>FIND_IN_SET(drugInStorage.create_deptid , #{createDeptid,jdbcType=VARCHAR}) <if test="@Ognl@IsNotEmpty(createUserid)">or drugInStorage.create_userid = #{createUserid,jdbcType=VARCHAR})</if>
		</if>
		<!--部门权限结束-->
		
		<if test="@Ognl@IsNotEmpty(createDate)">
			and drugInStorage.create_date = #{createDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(createDateStartDate)">
			and TO_DAYS(drugInStorage.create_date)-TO_DAYS(#{createDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(createDateEndDate)">
			and TO_DAYS(#{createDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugInStorage.create_date) >= 0
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyUserid)">
			and drugInStorage.modify_userid = #{modifyUserid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDeptid)">
			and drugInStorage.modify_deptid = #{modifyDeptid,jdbcType=VARCHAR}
		</if>
		
		<if test="@Ognl@IsNotEmpty(modifyDate)">
			and drugInStorage.modify_date = #{modifyDate,jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateStartDate)">
			and TO_DAYS(drugInStorage.modify_date)-TO_DAYS(#{modifyDateStartDate,jdbcType=TIMESTAMP}) >= 0
		</if>
		<if test="@Ognl@IsNotEmpty(modifyDateEndDate)">
			and TO_DAYS(#{modifyDateEndDate,jdbcType=TIMESTAMP}) - TO_DAYS(drugInStorage.modify_date) >= 0
		</if>
		
	</sql>
	<!--新增-->
	<insert id="insert" parameterType="com.qh.domain.drug.DrugInStorage">
		insert into whou_drug_in_storage (  <include refid="whou_drug_in_storage_column_insert" /> )
		values (
			#{id,jdbcType=VARCHAR},
			#{inStorageCode,jdbcType=VARCHAR},
			#{orderId,jdbcType=VARCHAR},
			#{orderCode,jdbcType=VARCHAR},
			#{registrationTime,jdbcType=TIMESTAMP},
			#{buyer,jdbcType=VARCHAR},
			#{buyerName,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{approveStatus,jdbcType=INTEGER},
			#{deleteFlag,jdbcType=INTEGER},
			#{companyId,jdbcType=VARCHAR},
			#{createUserid,jdbcType=VARCHAR},
			#{createDeptid,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP},
			#{modifyUserid,jdbcType=VARCHAR},
			#{modifyDeptid,jdbcType=VARCHAR},
			#{modifyDate,jdbcType=TIMESTAMP}
		)
	</insert>	
	
	<!--批量新增-->
	<insert id="insertBatch" parameterType="com.qh.domain.drug.DrugInStorage">
		insert into whou_drug_in_storage (  <include refid="whou_drug_in_storage_column_insert" /> )
		values
		<foreach collection="list" item="item" index="index" separator="," > 
			(
				#{item.id,jdbcType=VARCHAR},
				#{item.inStorageCode,jdbcType=VARCHAR},
				#{item.orderId,jdbcType=VARCHAR},
				#{item.orderCode,jdbcType=VARCHAR},
				#{item.registrationTime,jdbcType=TIMESTAMP},
				#{item.buyer,jdbcType=VARCHAR},
				#{item.buyerName,jdbcType=VARCHAR},
				#{item.status,jdbcType=INTEGER},
				#{item.approveStatus,jdbcType=INTEGER},
				#{item.deleteFlag,jdbcType=INTEGER},
				#{item.companyId,jdbcType=VARCHAR},
				#{item.createUserid,jdbcType=VARCHAR},
				#{item.createDeptid,jdbcType=VARCHAR},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.modifyUserid,jdbcType=VARCHAR},
				#{item.modifyDeptid,jdbcType=VARCHAR},
				#{item.modifyDate,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>	
	
	<!--修改所有-->
	<update id="update" parameterType="com.qh.domain.drug.DrugInStorage">
		update whou_drug_in_storage  set 
			in_storage_code=#{inStorageCode,jdbcType=VARCHAR},
			order_id=#{orderId,jdbcType=VARCHAR},
			order_code=#{orderCode,jdbcType=VARCHAR},
			registration_time=#{registrationTime,jdbcType=TIMESTAMP},
			buyer=#{buyer,jdbcType=VARCHAR},
			buyer_name=#{buyerName,jdbcType=VARCHAR},
			status=#{status,jdbcType=INTEGER},
			approve_status=#{approveStatus,jdbcType=INTEGER},
			delete_flag=#{deleteFlag,jdbcType=INTEGER},
			company_id=#{companyId,jdbcType=VARCHAR},
			modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			modify_date=#{modifyDate,jdbcType=TIMESTAMP}
		where 1=1
		and id=#{id,jdbcType=VARCHAR}
    </update>
    
    <!--部分修改-->
    <update id="updateSelective" parameterType="com.qh.domain.drug.DrugInStorage">
		update whou_drug_in_storage  
		<set>
		  	<if test="@Ognl@IsNotEmpty(inStorageCode)">
				in_storage_code=#{inStorageCode,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(orderId)">
				order_id=#{orderId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(orderCode)">
				order_code=#{orderCode,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(registrationTime)">
				registration_time=#{registrationTime,jdbcType=TIMESTAMP},
			</if>
		  	<if test="@Ognl@IsNotEmpty(buyer)">
				buyer=#{buyer,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(buyerName)">
				buyer_name=#{buyerName,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(status)">
				status=#{status,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(approveStatus)">
				approve_status=#{approveStatus,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(deleteFlag)">
				delete_flag=#{deleteFlag,jdbcType=INTEGER},
			</if>
		  	<if test="@Ognl@IsNotEmpty(companyId)">
				company_id=#{companyId,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyUserid)">
				modify_userid=#{modifyUserid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDeptid)">
				modify_deptid=#{modifyDeptid,jdbcType=VARCHAR},
			</if>
		  	<if test="@Ognl@IsNotEmpty(modifyDate)">
				modify_date=#{modifyDate,jdbcType=TIMESTAMP},
			</if>
		 </set>
		where 1=1
		and FIND_IN_SET(id,#{id,jdbcType=VARCHAR})
    </update>
    
    <!--删除-->
    <delete id="delete">
  		DELETE drugInStorage FROM whou_drug_in_storage drugInStorage where 1=1 
		<include refid="where" /> 
  	</delete>

  	<!--查询详情-->
	<select id="getInfo" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugInStorage" >
    	select 
    	<include refid="whou_drug_in_storage_column_query" />
    	from 
    	whou_drug_in_storage drugInStorage
		where 1=1 
		<include refid="where" /> 
  </select>
  
  <!--查询列表-->
	<select id="getAll" resultMap="BaseResultMap" parameterType="com.qh.domain.drug.DrugInStorage" >
    	select 
    	<include refid="whou_drug_in_storage_column_query" />
    	from 
    	whou_drug_in_storage drugInStorage
		where 1=1 
		<include refid="where" /> 
  	</select>
  	
</mapper>

