@charset "utf-8";
/* CSS Document */
.of-auto {
  overflow: auto;
}
.of-hide {
  overflow: hidden;
}
.col-lg-6{
  width: 50%;
  margin:0 auto;
  margin-top:100px;
  }
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-color: #ddd;
  }
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  font-size: 19px;
  font-weight:bold;
  }
.panel-body {
    padding: 15px;
  height: 280px ;
  }
  
/*-----按钮-----*/  
.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  
a.btn{ color: #fff ; }

a.btn-default{ color: #333 ; }
  
.btn-default {
  color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
.btn-default:hover {
    background-color:#ebebeb;
    border-color:#adadad  ;
  }
  
.btn-orange {
  color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  } 
.btn-orange:hover {
  color: #fff;
    background-color: #ec971f ;
    border-color: #d58512 ;
  } 

.btn-green {
  color: #fff;
    background-color: #739e73 ;
    border-color: #659265 ;
  } 
.btn-green:hover {
  color: #fff;
    background-color: #5f895f ;
    border-color: #4c6e4c ;
  } 

.btn-blue {
  color: #fff;
    background-color: #3276b1 ;
    border-color: #2c699d  ;
  } 
.btn-blue:hover {
  color: #fff;
    background-color: #296191 ;
    border-color: #1f496d  ;
  }
  
.btn-red {
  color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  } 
.btn-red:hover {
  color: #fff;
    background-color: #c9302c ;
    border-color: #ac2925 ;
  } 
  
/*------时间控件------*/  
textarea{
  padding: 5px ;
}

.inputText_sm {
    border: 1px solid #dcdcdc;
    padding: 2px;
    width: 182px;
    height: 30px;
    line-height: 30px;
    padding: 0px\9!important;
    padding: 0px \9\0!important;
    text-indent: 5px;
}
.input-addon {
    padding: 6px 9px 5px 9px\9;
    padding: 6px 9px 5px 9px\9\0;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    border-left: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: -5px;
    height: 32px; 
    vertical-align: top;
    padding-right: 8px;
    margin-left: 10px;
}

input.input-date-sm{
    width: 120px !important ; 
}

select.form-control-select-sm{
    width: 80px ; 
}


/*------表格------*/  
.table-scroll {
    width: 100%;
    overflow: auto;
  }
  
.table-form {
    font-size: 14px;
    margin-bottom: 0;
  width:100%;
  border-spacing: 0;
    border-collapse: collapse;
  }

.table-hover > tbody > tr:hover {
  background-color: #f8f8f8;
}

.table-form thead tr th{
  text-align: center ;
  font-weight: bold ;
    background-color: #f8f8f8;  
}

.table-form thead tr th,
.table-form tbody tr td{
    padding: 8px ;  
}

.table-bordered th,td {
  border: 1px solid #ddd;
    vertical-align: middle;
  }
  
.table-bordered td {
  text-align:center;
  font-size:14px;
  color:#333333;
  }
  
.table-form.table-ellipsis{
   table-layout: fixed ;
}   
.table-form.table-ellipsis tr td{
   white-space: nowrap ;
   text-overflow: ellipsis ;
   overflow: hidden ; 
}
.table-nowrap {
    overflow-x: auto;
}
.table-nowrap tr td, .table-nowrap tr th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.tb-text-blue tr:hover td {
  cursor: pointer;
  color: #3276b1;
}
.tb-text-blue tr.blue td {
  color: #3276b1;
}

/*------菜单------*/  
#nav {
  float: left;
  position: relative;
  height: auto;
  z-index: 1;
  width:100%;
  border:1px solid #e6e9f0 ;
}

.nav-open {
  width: 100%;
}

.nav {
  width:100%
}

.nav, .nav-open {
  height: 100%;
  background: #f9f9f9;
  color: #ddd;
  font-size: 14px;
  text-align: left;
  font-weight: 650;
}

.nav a, .nav-open a {
  display: block;
  color: #333;
}

.nav a i, .nav-open a i {
  width: 20px;
  font-size: 18px;
  margin-right: 10px;
}

.nav-memu-open, .nav-memu {
  cursor: pointer;
  padding: 15px 0 10px 18px;
}

.nav-list {
  border-top:1px solid #e6e9f0;
  }
  
.nav-list > li {
  position: relative;
  border-bottom:1px solid #e6e9f0;
  }
  
.nav-list li input {
    width: 155px;
    margin-left: 9px;
}
.nav-list li .search-icon {
    position: absolute;
    top: 8px;
    left: 15px;
}
.search-li {
    height: 40px;
}

.nav-list li a {
  display: block;
  padding: 12px 18px;
  overflow: hidden;
  white-space: nowrap;
}

.nav-list li a:hover {
  color: #fff ;
    background-color: #2284c5 ;
}

.nav-list a.active {
  display:block;
  background:#2284c5 url(../images/groups/jt-open.png) no-repeat right; 
  color:#fff;
  }
.nav-list a.active2 {
  color:#fff;
  background: #2284c5 url(../images/groups/jt-open-down.png) no-repeat right
}
.nav-list li.nav-list-ico a.active{
   background:#2284c5 url(../images/groups/jt-open-down.png) no-repeat right;   
}
.nav-sub-list {
  display: none;
}
.nav-list li ul.nav-sub-list li a{
  color: #333 ;
  text-indent: 15px ;
    background-color: #f8f8f8 ; 
}
.nav-list li ul.nav-sub-list li a.active-a {
  color: #2284c5;
}
.nav-list li ul.nav-sub-list li a:hover,
.nav-list li ul.nav-sub-list li ul.nav-third-list li a:hover{
  color: #2284c5 ;
  background-color: #fff ;  
}

.nav-list li ul.nav-sub-list li ul{
    border-top: 1px solid #e6e9f0 ; 
}

.nav-list li ul.nav-sub-list li ul.nav-third-list li{
    border-bottom: 0px ;  
}

.nav-list li ul.nav-sub-list li ul.nav-third-list li a{
    color: #333 ;
  text-indent: 40px ;
}

.nav-list li a span.tooltips {
  display: none;
}

.nav-list li a:hover span.tooltips {
  position: absolute;
  z-index: 999;
  top: 3px;
  left: 55px;
  display: inline-block;
}

.nav-list li span.tooltips-con {
  position: absolute;
  left: 7px;
  color: #fff;
  padding: 10px 15px;
  background: #061c3f;
  border-radius: 4px;
  display: inline-block;
}
.nav i.left-open {
   width:100%; 
   display:block; 
   background: url(../images/groups/right-open.jpg) no-repeat center; 
   height:20px;
   position: absolute; 
   z-index:2; 
   left:1%; 
   top:10px;
   }
.nav-open i.right-open { 
   width:100%; 
   display:block; 
   background:url(../images/groups/left-open.jpg) no-repeat center; 
   height:20px;position: absolute;
   z-index:2; 
   left:1%; 
   top:3px;
   }
/*.Line { 
  position:absolute;
  border-bottom:1px solid #ddd; 
  width:80%; text-align:center; 
  top:12px; 
  left:10%; 
  z-index:1;
  }*/

.nav-title {
  width:100%;
  background:#000;
  height:40px;
  }
  
/*-----分页-----*/  
.pages {
    font-size: 12px;
    padding: 8px ;
  margin-bottom: 15px;
    overflow: hidden;
    background: #eff3f8;
    border-bottom: 1px solid #e1e1e1;
  }
  
.dataTables-length {
    float: left;
  }
  
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.dataTables-paginate ul li a.disabled-pages,
button.btn-fresh:disabled{
  display: inline-block;
  background-color: #f8f8f8;
  color: #666;
  border: 1px solid #d8dde6;
  cursor: not-allowed;  
}

.form-page {
  width:50px;
  height: 28px ;
  line-height: 28px ;
  border: 1px solid #ddd;
  text-align:center;
  padding:0;
  }
  
.form-control {
  width:50px;
    height: 28px;
    line-height: 28px;
  border: 1px solid #ddd;
  text-align:center;
  padding:0;
  }
  
.btn-fresh {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  display: inline-block;
  width:50px;
  height:29px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.52857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
}

.pagination-user {
    margin: 0;
    text-align: right;
}

.dataTables-paginate {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
  }
     
.dataTables-paginate ul li {
    list-style: outside none none;
  display: inline;
  }
     
.dataTables-paginate ul li span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.dataTables-paginate ul li a {
    position: relative;
    float: left;
    padding: 5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd; 
  } 
  
input.inp-number{
  width: 40px !important;
  height: 29px ;
  line-height: 27px ; 
}
.btn-fresh:disabled{
    display: inline-block;
    background-color: rgb(235, 235, 228);
    color:#666 ;
    border: 1px solid #d8dde6;
    cursor: not-allowed;
}
  
/*------表单------*/  
input{ 
    text-indent: 10px ;
}

ul.ser_ul {
    list-style: outside none none;
    margin: 0px;
    display: inline-block;
    clear: both;
    padding: 0;
}

.ser_ul li {
  width: 100% ;
    margin-top: 15px ;
}

.ser_ul li.ser_tit{
    float: left ;
  width: 120px ;
  line-height: 32px ; 
}

li {
    list-style: outside none none;
}

.ser_ul li span {
    color: #666;
    font-size: 12px;
    width: 120px;
    float: left;
    height: 30px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    text-align: right;
}

.inputText {
    border: 1px solid #dcdcdc;
    width: 160px;
    height: 32px;
    line-height: 32px\9;
    line-height: 32px\9\0;
    padding: 0px\9!important;
    padding: 0px\9\0!important;
    text-indent: 10px;
    vertical-align: middle;
}

.inp-areacode{
    width: 12% !important ; 
}

.inp-phoneno{
    width: 29.8% !important ; 
}

.form-control-select {
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    width: 160px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
  }

.form-search {
    border: 1px solid #dcdcdc;
    width: 160px;
    height: 30px;
    line-height: 30px\9;
    line-height: 30px\9\0;
    padding: 0px\9!important;
    padding: 0px\9\0!important;
    text-indent: 5px;
    vertical-align: middle;
  float:left;
}

.btn-search {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
  color: #fff;
    background-color:#3276b1;
  border:none;
  float:left;
  border-radius: 0 2px 2px 0;
  }
  
input:disabled,
textarea:disabled,
select:disabled,
input[readonly],
textarea[readonly]{
    background-color: #f4f4f4 ;
    color: #666;
    border: 1px solid #d8dde6;
    cursor: not-allowed;
}
input[readonly].Wdate{
	background-color: #fff ;
	cursor:text;
}
button.btn-default:disabled,
button.btn-default:disabled:hover{
    background-color: rgb(235, 235, 228) !important;
    color: #666!important;
    border: 1px solid #d8dde6!important;
    cursor: not-allowed;
}
button.btn-orange:disabled,
button.btn-orange:disabled:hover{
    background-color: #cb9242!important;
    color:  #f2f2f2!important;
    border: 1px solid #bc883e !important;
    cursor: not-allowed;
}
button.btn-blue:disabled,
button.btn-blue:disabled:hover{
    background-color: #1b5281!important;
    color:  #f2f2f2!important;
    border: 1px solid #1f496d !important;
    cursor: not-allowed;
}
button.btn-green:disabled,
button.btn-green:disabled:hover{
    background-color: #466b46!important;
    color:  #f2f2f2!important;
    border: 1px solid #365f36 !important;
    cursor: not-allowed;
}

button.btn-red:disabled,
button.btn-red:disabled:hover{
    background-color: #eb6864!important;
    color:  #f2f2f2!important;
    border: 1px solid #d43f3a !important;
    cursor: not-allowed;
}



input[type="radio"]{
  vertical-align: -1px ;
}

textarea{
  padding: 8px ; 
    line-height: 20px ;
}

select:focus, input[type="text"]:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .1);
  }

.checkbox-inline {
  margin-top:11px;
  float:left;
  }
.radio {
  float:left;
  margin-top:11px;
  }


/* 搜索查询样式 */
.search-ul {
  width: 100%;
}
.search-ul li {
  float: left;
  margin-bottom: 15px;
}
.search-ul input {
  width: 160px;
}
.search-ul .mb0 {
  margin-bottom: 0;
}


/* ----tab切换----- */
ul.tabs {
    height: 37px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.tabs li {
    height: 37px;
    padding: 8px 15px;
    margin-right: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    cursor: pointer;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ul.tabs li.active {
    background: #fff;
    border-top: 2px solid #2284c5;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; 
}
ul.tabs li a {
    color: #333;
}
.tab-contentmian {
    width: 100%;
    min-height: 420px;
  border:1px solid #ccc;
  border-top:0px;
}
.tab-content {
    display: none;
    padding: 15px;
    background: #fff;
}

/* bootstrp网格样式 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
/* bootstrap网格样式结束 */
/*右上角超级管理员开始*/
.open > a {
    outline: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right > .dropdown-menu {
    right: 15px;
    left: auto;
}
.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #3276b1;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
a {
    background: transparent;
}
/*右上角超级管理员结束*/

/*弹出层*/
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.modal-open {
    overflow: hidden
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}
.modal-content {
    position: absolute;
    top:50px;
    left:50%;
    margin-left: -400px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    width: 800px
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-header .close {
    margin-top: -2px
}

.close {
    float: right;
    font-size: 19.5px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.modal-body {
    border-top: 1px solid #ccc;
    margin: 20px 15px 15px 15px ;
    padding-top: 20px;
    position: relative;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-bg{
    width: 100%;
    height: 650px;
    background-color: #000000;
    opacity: 0.5;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 30px auto;}
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.pb-toolbar{
  margin: 15px ;
  overflow: hidden ;  
}

.search-title{
  position: absolute;
  top: -9px;
  left: 0px;
  color: #134ea5;
  font-size: 12px;
  margin-left: 10px;
  padding: 0px 8px ;
  cursor: pointer;
  background: none repeat scroll 0px 0px #FFF;
}

.modal-open{
    cursor: pointer;
    background-color: #fff;
    width: 50px;
    height: 20px;
    position: absolute;
  top: -10px ;
    right: 0px;
  font-size: 12px ;
    text-align: center;
}

.modal-input-ul{
    width: 100%;
    margin: 15px 10px 10px 10px;
}

.modal-input-ul li{
  float: left ;
    width: 46%;
  height: 55px ;
    margin: 0px ;
}/*新版本更新的样式*/

.modal-input-ul li label.ser_tit{
  color: #666;
  font-size: 12px;
  width: 110px;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  text-align: right;
}
.modal-input-ul li input.modal-input{
    width: 220px;
    height: 30px ;
  line-height: 30px ;
}
.modal-dataTables-length {
    width: 30%;

}



/* ======
 */
.modal-bg-white {
  background: #fff;
  height: 100%;
  min-height: 500px;
  padding-top: 20px;
  margin-top: -20px;
}

/*弹出层结束*/

/*输入文本框*/

.table-textarea{
    width: 100%;
    min-height: 80px;
    text-align:left ;
    padding:0px 6px;
}

/*输入文本框结束*/

/*提示框
.layui-layer-hui{
  min-width: 450px ;  
  width: 450px ;
  height: 185px ;
  color: #333 ;
  background-color: #fff ;
  border: 1px solid #e1e1e1 ;
}*/

/*鼠标经过提示窗 tooltip */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 300px;
  padding: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border:1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #ccc;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #ccc;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #ccc;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #ccc;
  border-width: 0 5px 5px;
}


/*.tb_search为查询条件下的容器*/
.tb_search select,.tb_search input{
    width:160px;
}

.tb_search{
    position: relative ;      
}
@media (max-width:880px) {
    .tb_search select,.tb_search input{
        width:120px;
    }
}
.tb_search .Wdate{
    width:120px;!important;
}

.tb_search .search-more{
    position: absolute;
  height:40px;
  line-height:40px;
    color:#3B8BB9;
    right: 0px;
  float:right
}
.tb_search label{
    height: 32px;
    line-height: 32px;
    float:left;
}
.tb_search label:first-child{
    /*width:127px;*/
    text-align: right;
}
.tb_search .search-more:hover{
    cursor: pointer;
}

.form-group-Wdate{
    overflow: auto;
    float:left;
    margin-right:20px;
    padding: 4px 0px;
}

.ml110{
    margin-left: 110px ;  
}

.tabs-top{
  width: 100% ;
  height: 37px ;
    background-color: #f4f6f9 ; 
}

.tabs-top ul.tabs{
  position: absolute ;
  top: 0px ;
  border-bottom: none ; 
}

input.input-sm,
select.select-sm{
    height: 28px ;
  line-height: 28px ; 
}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-both{clear:both}
/*muti-select,bootstrap-select*/
select.bs-select-hidden, select.selectpicker {
    display: none!important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width:160px;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0;
}
.btn-group, .btn-group-vertical {
    position: relative;
    vertical-align: middle;
}
.dropdown-toggle, .btn-group.open .dropdown-toggle, .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
    border: 1px solid #d8dde6 !important;
    background: #fff !important;
    outline: none !important;
    box-shadow: none;
    outline-offset: 0px !important;
}
.btn-group.bootstrap-select>.btn:first-child {
    margin-left: 0;
    border-radius:0px;
}
.btn-group.bootstrap-select>.btn:hover,.btn-group.bootstrap-select>.btn:focus{
    z-index: 2;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 1035;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: none;
    top: 30px;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 240px;
    max-height: 477px;
    overflow-y: auto;
    min-height: 74px;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 1035;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 31px;
    border-top:0px;
}
.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.mCSB_inside > .mCSB_container {
    /*margin-right: 30px;*/
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: auto;
    height: auto;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    text-align: left;
}
.dropdown-menu li a {
    display: block;
    padding: 3px 13px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu li a:hover{
    background:  #056dae;
    color:#fff;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 20px;
    margin-top: 5px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/common/bootstrap/fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('/common/bootstrap/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('/common/bootstrap/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('/common/bootstrap/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('/common/bootstrap/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('/common/bootstrap/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
.glyphicon-ok:before {
    content: "\f00c";
    box-sizing: border-box;
}
.mCSB_scrollTools {
    opacity: 0.75;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools {
    opacity: 1;
    background: #fff;
    z-index: 999;
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    z-index: 1;
    position: absolute;
    min-height: 120px !important;
    top: 0px;
    display: block;
    height: 160px;
    max-height: 230px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: rgba(0,0,0,0.75);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 6px;
    margin: 3px 5px;
    position: absolute;
    height:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    border-radius: 16px;
    text-align: center;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail{
    background-color: rgba(0,0,0,0.1);
    width: 12px;
    height: 100%;
    border-radius: 16px;
    margin: 0 auto;
}
.right_form .dropdown-menu li,.right-form .dropdown-menu li{
    float: none;
    margin-top: 0px;
    width: 100%;
}
.loading{
	top:0px;
	 width: 100%;
            height: 100%;
            position: fixed;
            z-index: 9999;
            background:rgba(0,0,0,0.3) url("layer/default/loading-1.gif") no-repeat 50% 50%;
}