._valid {
    width: 278px;
    height: 71px;
    text-align: center;
    vertical-align: middle;
    line-height: 61px;
    font-weight: bold;
    color: #e4393c;
    background: url("../images/public/valid3.jpg") -10px -25px no-repeat;
    position: absolute;
    top: -35px;
    left: 30px;
    z-index: 9999;
}